
@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/LayoutDeEntrada.cshtml";
}

<br />
<p><a class="btn btn-default" @Html.ActionLink("Postar", "CriarPostagens", "Postagens")</a></p>
<br />
<p><a class="btn btn-default" @Html.ActionLink("Ver Posts", "Feed", "Postagens")</a></p>
<br />
<p><a class="btn btn-default" @Html.ActionLink("Pedidos de Amizades", "ListarPedidos", "Amigo")</a></p>

